#s-537d47a9-81eb-400f-a0b8-4508113f4515 {
  background-color: transparent;
  background-image: none;
  min-width: 381px;
  min-height: 743px;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 381px;
  height: 743px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Image_2 {
  position: absolute;
  top: 108px;
  left: 31px;
  width: 320px;
  height: 550px;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Image_3 {
  position: absolute;
  top: 108px;
  left: 31px;
  width: 320px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Dynamic_Panel_11 {
  position: absolute;
  top: 486px;
  left: 167px;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Panel_2 {
  width: 184px;
  height: 172px;
  background-color: #111111;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Label_22 {
  padding-left: 6px;
  width: 299px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BABABA;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Label_22 .valign {
  vertical-align: middle;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Label_23 {
  padding-left: 7px;
  width: 299px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12pt;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Label_23 .valign {
  vertical-align: middle;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Label_24 {
  padding-left: 7px;
  width: 299px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12pt;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Label_24 .valign {
  vertical-align: middle;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Label_25 {
  padding-left: 7px;
  width: 299px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12pt;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Label_25 .valign {
  vertical-align: middle;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Image_4 {
  position: absolute;
  top: 605px;
  left: 75px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-537d47a9-81eb-400f-a0b8-4508113f4515 #s-Image_5 {
  position: absolute;
  top: 602px;
  left: 273px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#loadMark {
}