#s-6e8594fb-ad9e-4e5a-8695-4046651edcb9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6e8594fb-ad9e-4e5a-8695-4046651edcb9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6e8594fb-ad9e-4e5a-8695-4046651edcb9 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6e8594fb-ad9e-4e5a-8695-4046651edcb9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6e8594fb-ad9e-4e5a-8695-4046651edcb9 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6e8594fb-ad9e-4e5a-8695-4046651edcb9 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#loadMark {
}