#s-9b34abc4-6967-4dda-9d19-e12a96122b38 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b34abc4-6967-4dda-9d19-e12a96122b38 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b34abc4-6967-4dda-9d19-e12a96122b38 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9b34abc4-6967-4dda-9d19-e12a96122b38 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#loadMark {
}