#s-f6a6b0b6-512a-4cd5-82cd-4a5b844d31e1 {
  background-color: transparent;
  background-image: none;
  min-width: 381px;
  min-height: 743px;
}
#s-f6a6b0b6-512a-4cd5-82cd-4a5b844d31e1 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f6a6b0b6-512a-4cd5-82cd-4a5b844d31e1 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 381px;
  height: 743px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-f6a6b0b6-512a-4cd5-82cd-4a5b844d31e1 #s-Image_2 {
  position: absolute;
  top: 108px;
  left: 31px;
  width: 320px;
  height: 550px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-f6a6b0b6-512a-4cd5-82cd-4a5b844d31e1 #s-Image_3 {
  position: absolute;
  top: 108px;
  left: 31px;
  width: 320px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-f6a6b0b6-512a-4cd5-82cd-4a5b844d31e1 #s-Image_4 {
  position: absolute;
  top: 605px;
  left: 75px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-f6a6b0b6-512a-4cd5-82cd-4a5b844d31e1 #s-Image_5 {
  position: absolute;
  top: 602px;
  left: 273px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#loadMark {
}