#s-f757679b-f2b8-428b-ad3c-98ce88bd866c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f757679b-f2b8-428b-ad3c-98ce88bd866c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-f757679b-f2b8-428b-ad3c-98ce88bd866c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-f757679b-f2b8-428b-ad3c-98ce88bd866c #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-f757679b-f2b8-428b-ad3c-98ce88bd866c #s-Label_22 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BABABA;
  -ms-transform: rotate(0.0deg);
}
#s-f757679b-f2b8-428b-ad3c-98ce88bd866c #s-Label_23 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f757679b-f2b8-428b-ad3c-98ce88bd866c #s-Label_24 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f757679b-f2b8-428b-ad3c-98ce88bd866c #s-Label_25 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#loadMark {
}