*{
	margin:0px;
	padding:0px;
	border:none;
}
.ecstatic
{
  background-image : url(../ecstatic.png);
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}
.background
{
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 1px;
}


#page-wrapper {
	height: auto;
	width: 100%;
}
@media screen and (min-width: 320px) {
	#page-container {
	min-width: 316px;
	max-width: 481px;
	height: auto;
	margin: auto;
	background-repeat: repeat-y;
	border: solid 2px #231f20;
	}
	.rounded-box {
		height: 40px;
		min-width: 146px;
		max-width:307px;
		border-radius: 17px;
		-moz-border-radius: 17px;
		-webkit-border-radius: 17px;
		border: 3px solid #000000;
		color: #FFF;
		font-size: 31px;
		font-family: "Myriad Hebrew", "Myriad Pro";
		text-transform: uppercase;
		/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;   
	   text-outline: 2px 2px #000000;
		 -webkit-text-stroke: 4px black;*/
		font-weight: bolder;
		-webkit-text-fill-color: white; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: black;
		float: left;
		padding-top: 6px;
		padding-left: 30px;
		position: relative;
		z-index: 2;
		margin-left: 35px;
		margin-top: 8px;
		text-align: center;
		cursor:pointer;
	}
		
}
#background-lines {
	background-image: url(../images/background-lines.png);
	background-repeat: repeat-y;
	margin: auto;
	height: 530px;
	width: 38px;
	position: relative;
	z-index: 0;
}
#background-lines ul {
	list-style-type: none;
	margin-top: 30px;
	margin-left: 35px;
}

 
.white-circle {
	background-color: #FFF;
	height: 61px;
	width: 61px;
	border: 3px solid #000;
	border-radius: 36px;
	-moz-border-radius: 36px;
	-webkit-border-radius: 36px;
	float: left;
	position: absolute;
	z-index: 5;
}
.whole-cont-row {
	margin-bottom: 8px;
	height: 62px;
	width: 300px;
	opacity: 1.0;
	-webkit-transition: 0.1s linear;
	-moz-transition: 0.1s linear;
	-ms-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
}
.whole-cont-row:hover {
	opacity:0.9; 
}
.align-smiley {
	margin-top: 17px;
	margin-left: 17px;
	cursor:pointer;
	
}
.red { 		background-color: #cb2026; }
.yellow { 	background-color: #f9ec0c; }
.green { 	background-color: #69bd45; }
.blue { 	background-color: #009bc7; }
.black { 	background-color: #000; }
#welcome {
	font-family: "Myriad Pro Light";
	font-size: 32pt;
	color: #000;
	background-image: url(../images/welcom.png);
	height: 117px;
	width: 290px;
	text-align: center;
	font-weight: bold;
	padding-top: 18px;
}
#inner-cont {
position: absolute;
z-index: 2;
left: -125px;
top: 10px;
}
